<div class="container mx-8">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-6">
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1"><img src="{{this.product.image}}" style="width: 400px;"/></div>
                    </div>
                </div>
                <div class="details col-6">
                    <h3 class="product-title">{{this.product.productName}}</h3>
                    <div class="rating">
                        <div class="stars">
                            <i class="pi pi-star-fill checked"></i>
                            <i class="pi pi-star-fill checked"></i>
                            <i class="pi pi-star-fill checked"></i>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star-fill"></i>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <h4>Price: {{this.product.price}}$</h4>
                    <p class="product-description">{{this.product.description}}</p>

                    <div class="action">
                        <button class="p-button-info p-button p-3" type="button">
                            <i class="pi pi-shopping-cart p-1"></i>
                              ADD TO CART
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>