<div class="card mx-8 mb-8">
    <h1>Orders Management</h1>
    <p-tabView (onChange)="onTabChange()" [(activeIndex)]="activeIndex">
        <p-tabPanel *ngFor="let tab of tabs" [header]="tab">
        </p-tabPanel>
    </p-tabView>
    <p-table #dt [value]="orderList" responsiveLayout="scroll" [rows]="10" [rowHover]="true" dataKey="productId">
        <ng-template pTemplate="header">
            <tr>
                <th>Order Id</th>
                <th>Status</th>
                <th>Address</th>
                <th>Note</th>
                <th>Order Date</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td style="width:20%; min-width:10rem;">
                    <span class="p-column-title">Order Id</span>
                    {{order.orderId}}
                </td>
                <td style="width:20%; min-width:10rem;">
                    <span class="p-column-title">Status</span>
                    {{order.status}}
                </td>
                <td style="width:20%; min-width:8rem;">
                    <span class="p-column-title">Address</span>
                    {{order.address}}
                </td>
                <td style="width:20%; min-width:10rem;">
                    <span class="p-column-title">Note</span>
                    {{order.note}}
                </td>
                <td style="width:20%; min-width: 10rem;">
                    <span class="p-column-title">Order Date</span>
                    {{order.orderDate}}
                </td>
                <td>
                    <div class="flex">
                        <button *ngIf="order.status === 'Pending'" pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-warning mr-2" (click)="confirm2($event)"></button>
                        <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success" (click)="getOrderDetail(order.orderId)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="9" [totalRecords]="totalItem" />
</div>
<p-confirmPopup />
<p-dialog header="Order Id: {{currentOrderId}}" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <p-table [value]="orderDetail" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:200px" pFrozenColumn>Name</th>
                <th style="width:200px">Image</th>
                <th style="width:200px">Price</th>
                <th style="width:200px">Quantity</th>
                <th style="width:200px">Total Price</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td style="width:200px" class="font-bold">{{item.productName}}</td>
                <td style="width:200px">
                    <img [src]="item.image" [alt]="item.productName"
                    width="100" class="shadow-4" />
                </td>
                <td style="width:200px">
                    {{item.price}}$
                </td>
                <td style="width:200px">{{item.quantity}}</td>
                <td style="width:200px">{{item.price * item.quantity}}$</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="mt-2 text-right">
        <h5 class="mt-5">Total orders price: {{totalPrice}}$</h5>
    </div>
</p-dialog>